<h1>Insert your URL</h1>
<%= form_with(model: @site, local: true) do |form| %>
  <div class = "field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class ="actions">
  <%= form.submit "Submit" %>

  </div>

<% end %>
